*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:"Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}
body.center{

    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.container {
    display: grid;
    width: auto;
    height: auto;
    grid-template-areas:
    "header"
    "nav"
    "article"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 5vh 1fr 5vh;
}
header {
    grid-area: header;
    display: flex;  
    justify-content: center; 
    align-items: center;
    background-color: #151515;
    z-index: 999;
}
img.logo{
    filter: opacity(90%);
    height:10vh;
    margin:auto;
    transition: all 0.4s ease-in-out;
}
img.logo:hover{
    filter: opacity(100%);
}
.navbar{
    grid-gap: nav;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    position: sticky;
    top:-1px;
    width: 100%;    
    z-index: 998;
    box-sizing: border-box;
    background-color: #151515e6;

    transition: all 0.5s ease-in-out;
}
.navbar .nav-links{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.navbar a{
    color: #000;
    font-size: 80%;
}
.navbar .home{
    margin:0;
    height:3vh;
    filter: opacity(50%);
    padding: 0 20px 0 3vw;
    transition: all 0.3s ease-in-out;
}
.navbar .home:hover{
    filter: opacity(90%);
}
.navbar .info-hamburger{
    padding: 0 2% 0 0;    
    display:none;
    height:3vh;
    filter: opacity(50%);
    transition: all 0.3s ease-in-out;
}
.navbar .info-hamburger:hover{
    filter: opacity(90%);
}
.navbar .nav-links ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    
    
}
.nav-links ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #d9d9d9;
    transition: all 0.3s ease-in-out;

}
article {
    grid-area: article;

}
article hr {
        
    border-style:solid;
    border-width:3px; 
    border-color: #bebebe;
    width: 99%;
}
article h2{
    color: #373739;
    font-size: 2.5em;
    line-height: 30px;
    margin: 20px 30px;
    letter-spacing: 0.1em;
}
article .h4_white{
    color: #151515;
    font-size: 2em;
    margin: 0;
    letter-spacing: 0.2vw;
    word-spacing: 1vw;
    text-align: center  ;
}
article .h4_black{
    color: #ececee;
    font-size: 2em;
    margin: 0;
    letter-spacing: 0.2vw;
    word-spacing: 1vw;
    text-align: center  
}
.article img.shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.427);
}
.slogan{
    background-color: #f5f5f5;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 20vh;
}

.slogan .generic{
    position: relative;
    color: #151515;
    top:0   ;
    left: 40%;
    font-size: 1em;
    letter-spacing: 0.2vw;
}
.slogan_black{
    background-color: #151515;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  100%;
    height: 20vh;
}

.slogan_black .generic{
    position: absolute;
    color: #ececee;
    top:29.5%;
    left: 85%;
    font-size: 1em;
    letter-spacing: 0.2vw;
}

.introduce_box_white{
    padding: 3vh 0 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: #f2f2f5;
    width: 100%;

}
.introduce_box_white .sort_box{
    
    padding:  0;
    display: flex;
    flex-direction: row;

}

.introduce_box_white .text_box{
    margin: 0 0 0 20px;
    padding:0;
    width:auto;
    color:#151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-size: 1.1em;
    line-height: 2.7em;
}
.introduce_box_white img{
    margin: 0;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:50%;
    width:50%;
}
.introduce_box_white .shadow{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.427);
}

.introduce_box_white .text_box p.mark{
    font-size: 1.5em;

}
/*black*/
.introduce_box_black{
    padding: 3vh 0 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;     
    background-color: #151515;
    width: 100%;

}

.introduce_box_black .sort_box{
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

.introduce_box_black .text_box{
    margin: 0 20px 0 0;
    padding:0 ;
    width:auto;
    color:#ececee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-size: 1.1em;
    line-height: 2.7em;
}
.introduce_box_black .text_box .mark{
    
    line-height: 3em;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}
.introduce_box_black img{
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:50%;
    width:50%;
    
}

/*end*/

.products_box{
    display: flex;
    margin:0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.products_sort_box{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
    row-gap: 100px;
}
.products_sort_box a{
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
}
.products_sort_box .product{
    margin: 10px;
    display: flex;
    flex-direction: column  ;
    position:relative;
    padding: 10% 2% 10%;
    width: 100%;
    height: 100%;
    color: #303032;
    text-decoration: none;
    background:#fff;
    border-radius: 20px ; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.071);
    transition: transform 0.5s;

}
.products_sort_box .product:hover{
    transition: all 0.3s ease-in-out;
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}
.products_sort_box .product .img_box{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.products_sort_box .product .img_box img{
    width: 100%;
}

.products_sort_box .product .illustrate_box{
    flex: 0.3;
    display: flex;
    flex-direction: column  ;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.products_sort_box .product .illustrate_box h3{
    flex:0.3;
    font-size: 1.5em;
    line-height: 30px;
    letter-spacing: 0.05em;
}
.products_sort_box .product .illustrate_box p{
    flex: 0.7;
    font-size: 1em;
    padding: 0 8px;
    line-height: 30px;
    text-align: center;
    
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #151515; 
    padding:10px ;
    width: auto;
    height: 100%;
    margin: 0;
}
.cc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #d9d9d9;
    font-size:12px;
    letter-spacing: 0.1em;
}
@media screen and (max-width:1020px){

    .products_sort_box .product{
        margin: 10px;
        display: flex;
        flex-direction: column  ;
        position:relative;
        padding: 10% 2% 10%;
        width: 100%;
        height: 100%;
        color: #303032;
        text-decoration: none;
        background:#fff;
        border-radius: 20px ; 
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.071);
        transition: transform 0.5s;
    
    }
}
@media screen and (max-width:900px){

    .introduce_box_black{
        padding: 3vh 0 3vh;
        display: flex;
        flex-direction: row;
        justify-content:center;
        background-color: #151515;
        width: 100%;
    
    }
    .introduce_box_black .sort_box{
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;  
    }
    .introduce_box_black .text_box{
        margin: 0 20px 20px;
        padding: 0;
        width:auto;
        color:#ececee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        font-size: 1.1em;
        line-height: 2.7em;
    }
    .introduce_box_black img{
        margin: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:70vw;
        
    }

    .introduce_box_white{
        padding: 3vh 0 3vh;
        display: flex;
        flex-direction: row;
        justify-content:center;
        background-color: #f2f2f5;
        width: 100%;
    
    }
    .introduce_box_white .sort_box{
        padding:  0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;  
    
    }
    
    .introduce_box_white .text_box{
        margin: 0 20px 20px;
        padding: 0;
        width:auto;
        color:#151515;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        font-size: 1.1em;
        line-height: 2.7em;
    }
    .introduce_box_white img{
        margin: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:70vw;
    }
    
    .introduce_box_white .text_box p.mark{
        font-size: 1.5em;
    
    }
    .products_sort_box .product:hover{
        transition: all 0.3s ease-in-out;
        transform: translate(0px, 0px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    }
}
/*other mode*/
@media screen and (min-width:851px){
    
    .nav-links{
        height: 100%;
    }
    .nav-links ul{
        
        flex:0.667; 
        display: flex;
        justify-content: center;
        align-items:center;
        height: 100%;
        width:60% ;
        position: static;

    }
    .nav-links ul ul{
        backdrop-filter: blur(7px);
        display: none;
        position: absolute;
        height: auto;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .nav-links ul li{
        flex: 1;
        margin: 0;
        display: block;
        position: inherit;
        
    }
    .nav-links ul li a{
        margin: 0;
    }
    .nav-links ul li:hover>ul{
        display: block;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    }
    .nav-links ul ul li{
        height: 100%;   
        width: 100%;
        margin: 0;
        line-height: 8vh;
        display: block;
        position: relative;
        text-align: center;
        background-color: #3c3c3da8;
       
        transition: all 0.3s ease-in-out;

    }

    .nav-links ul li a:hover{
        transition: all 0.3s ease-in-out;
        background-color: rgba(229, 229, 236, 0.156);
        color: #efeff3;
    }
}


/*ipad mode*/
@media screen and (max-width:850px){
    header{
        z-index:999;
    }
    .navbar{
        display:flex;
        justify-content:flex-end;
    }
    .nav-links{
        background-color: #3c3c3da8;
        backdrop-filter: blur(7px);
        position: absolute;
        padding: 0;
        width: 100%;
        height: 70vh;
        top:5vh;
        margin-top: -100vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
        transition: all 0.5s ease-in-out;
    }
    .nav-links ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        column-gap: 2%;
        
    }
    .nav-links ul li{
        padding:0;
        margin: 0;
        height: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .nav-links ul li a.title{
        flex:0.8;
        font-size: 1em;
        margin: 0;
        padding: 0 5% 0 0 ;
        display: flex;
        justify-content: flex-end;
        align-items:center;
        background-color: #ffffffd4;
        color: #040a11;
    }
    .nav-links ul li a{
        padding: 0 0 0 4%;
        font-size: 0.5em;
        display: flex;
        justify-content: start;
        align-items:center;
        color: #d9d9d9;
    }
    .nav-links ul li a.title:hover{
        background-color: #000000bc;
        padding:  0 2.5% 0 0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    }
    .nav-links ul li a:hover{
        
        color: #efeff3;
    }
    .nav-links ul li ul{
        flex:3;
        width: 60%;
        display: flex;
        flex-direction: row;
    }
    .navbar .info-hamburger{
        display: block;
        height:3vh;
        filter: opacity(50%);
    }
    .mobile-menu{
        margin-top: 0;
        
    }
    .home{
        position: absolute;
        margin:auto;
        height:3vh;
        filter: opacity(0%);
        top: -7.2%;
        left:0%;
        transition: all 0.3s ease-in-out;
    }
    .navbar .home-set{
        margin:auto;
        height:3vh;
        filter: opacity(50%);
        top: -5.9%;
        left:0%;
        
    }
}
/*phone mode*/
@media screen and (max-width:450px){
    header{
        z-index:999;
    }
    .navbar{    
        display:flex;
        justify-content:flex-end;
    }
    .nav-links{
        background-color: #3c3c3da8;
        backdrop-filter: blur(7px);
        position: absolute;
        padding: 0;
        width: 100%;
        height: 85vh;
        top:5vh;
        margin-top: -100vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
        transition: all 0.5s ease-in-out;
    }
    .nav-links ul{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        column-gap: 2%;
        
    }
    .nav-links ul li{
        padding:0;
        margin: 0;
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .nav-links ul li a.title{
        flex:1;
        font-size: 0.8em;
        margin: 0;
        padding: 0 ;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        background-color: #ffffff60;
        color: #040a11;
    }
    .nav-links ul li a{
        padding: 0 ;
        font-size: 0.5em;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items:center;
        color: #d9d9d9;
    }
    .nav-links ul li a.title:hover{
        background-color: #efeff3;
        padding:  0 0 0 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
    }

    .nav-links ul li ul{
        flex:3;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .navbar .info-hamburger{
        display: block;
        height:3vh;
        filter: opacity(50%);
    }
    .mobile-menu{
        margin-top: 0;
        
    }
    .home{
        position: absolute;
        margin:auto;
        height:3vh;
        filter: opacity(0%);
        top: -7.2%;
        left:0%;
        transition: all 0.3s ease-in-out;
    }
    .navbar .home-set{
        margin:auto;
        height:3vh;
        filter: opacity(50%);
        top: -4.6%;
        left:0%;
        
    }

    article .h4_white{
        color: #151515;
        font-size: 1em;
        margin: 0;
        letter-spacing: 0.2vw;
        word-spacing: 1vw;
        text-align: center  ;
    }
    article .h4_black{
        color: #ececee;
        font-size: 1em;
        margin: 0;
        letter-spacing: 0.2vw;
        word-spacing: 1vw;
        text-align: center  ;
    }
    .slogan .generic{
        position: relative;
        color: #151515;
        top:0   ;
        left: 40%;
        font-size: 0.5em;
        letter-spacing: 0.2vw;
    }
    .slogan_black .generic{
        position: relative;
        color: #ececee;
        top:0   ;
        left: 40%;
        font-size: 0.5em;
        letter-spacing: 0.2vw;
    }
    
    .products_sort_box a{
        width: 90vw;
        height: 100vw;
    }
    .introduce_box_black .text_box p.mark{
        font-size: 1.3em;
    
    }
    .introduce_box_white .text_box p.mark{
        font-size: 1.3em;
    
    }
}